.group-5,
.group-5 * {
  box-sizing: border-box;
}
.group-5 {
  width: 29.1px;
  height: 29.1px;
  position: relative;
}
.group-5 .mask-group {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.group-5 .ellipse-4 {
  background: #b97000;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.11);
  border-width: 0.29px;
  width: 69.74%;
  height: 69.74%;
  position: absolute;
  right: 15.13%;
  left: 15.13%;
  bottom: 15.13%;
  top: 15.13%;
  box-shadow: inset 0px 0.58px 0.54px 0px rgba(0, 0, 0, 0.47);
}
.group-5 .ellipse-5 {
  background: #b97000;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.11);
  border-width: 0.29px;
  width: 69.74%;
  height: 69.74%;
  position: absolute;
  right: 15.13%;
  left: 15.13%;
  bottom: 15.13%;
  top: 15.13%;
  box-shadow: inset 0px 0.58px 0.54px 0px rgba(0, 0, 0, 0.47);
}
.group-5 .mask-group2 {
  width: 69.74%;
  height: 69.74%;
  position: absolute;
  right: 15.13%;
  left: 15.13%;
  bottom: 15.13%;
  top: 15.13%;
  overflow: visible;
}
.group-5 .ellipse-3 {
  border-radius: 50%;
  border-style: dashed;
  border-color: rgba(180, 113, 9, 0.24);
  border-width: 2.03px;
  width: 76.32%;
  height: 76.32%;
  position: absolute;
  right: 11.84%;
  left: 11.84%;
  bottom: 11.84%;
  top: 11.84%;
}
.group-5 .frame {
  width: 69.74%;
  height: 69.74%;
  position: absolute;
  right: 15.13%;
  left: 15.13%;
  bottom: 16.63%;
  top: 13.64%;
  overflow: hidden;
}
.group-5 .group {
  height: auto;
  position: absolute;
  left: 3.83px;
  top: 4.79px;
  overflow: visible;
}
